<!-- CONTENU DES ACTIVITÉS -->
<div class="container mt-4">
  <!-- Barre de navigation des dates -->
  <div class="title-bar bg-danger text-white text-center p-3 rounded shadow-sm">
    <span class="fs-5 fw-bold">Mes Enfants</span>
  </div>

  <!-- Liste des enfants -->
  <div class="row mt-3">
    <div *ngFor="let child of children" class="col-md-6">
      <div class="child-card d-flex align-items-center p-3 mb-3 rounded shadow-sm bg-warning">
        <img src="assets/images/koala.png" alt="image" class="rounded-circle border border-success" style="width: 60px; height: 60px;">
        <span class="ms-3 fw-semibold">
          {{ child.firstName }} {{ child.lastName }} - Né(e) le {{ child.birthDate | date:'dd/MM/yyyy' }}
        </span>
      </div>
    </div>
  </div>
</div>
