/* Couleurs personnalisées */
.bg-success {
  background-color: #9FC7C2 !important;
}

.bg-danger {
  background-color: #f8caca !important;
}

.bg-warning {
  background-color: #fff8e1 !important;
}

/* Personnalisation des images */
.child-card img {
  border: 2px solid #9FC7C2;
  padding: 2px;
}

/* Titre central */
h3 {
  font-size: 20px;
  color: #333;
}
