<!-- FOOTER -->
<footer class="footer">
    <a routerLink="/home" class="footer-item">
        <img src="assets/images/footer/home.png" alt="Accueil">
        <span>Accueil</span>
    </a>
    <a routerLink="/news" class="footer-item">
        <img src="assets/images/footer/news.png" alt="Actualités">
        <span>Actualités</span>
    </a>
    <a routerLink="/messages" class="footer-item">
        <img src="/assets/images/footer/message.png" alt="Message">
        <span>Message</span>
    </a>
    <a routerLink="/child" class="footer-item">
        <img src="/assets/images/footer/tools.png" alt="Mes outils">
        <span>Mes outils</span>
    </a>
</footer>
